/* Fix breadcrumb nav in RTL mode */
nav.breadcrumb-button.span3 {
    float: right;
}

/* Hack - flip content and aside blocks in RTL mode */
aside#block-region-side-pre {
    float: left;
    margin-right: 2%;
    margin-left: 0;
}

div#content {
    float: right;
}

/* Social icons fix , as it was moved from #page-header */
#page-footer .btn-icon {
    display: none;
    padding: 7px 10px;
    position: absolute;
    top: 56px;
    background-image: none;
    background-color: #ededed;
}

#page-footer #essentialicons {
    overflow: visible;
    background-image: none;
    float: right;
}